<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619946128504-l8jbepk0a7iqidlmf5mh6kqbvbm12uah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619946128504-l8jbepk0a7iqidlmf5mh6kqbvbm12uah</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>619946128504-0i7hmc423ad16m09aldp7bvmcv717jfa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQJyQtsoLc7SUniReNBKHSDDCaJkBW9Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>619946128504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.refmanage</string>
	<key>PROJECT_ID</key>
	<string>aiproject-601cb</string>
	<key>STORAGE_BUCKET</key>
	<string>aiproject-601cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619946128504:ios:3465205d1db302c98c298d</string>
	<key>DATABASE_URL</key>
	<string>https://aiproject-601cb-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>